<div class="container-fluid">
  <div class="row my-1">
    <div class="login-section col-lg-6">
      <h2 class="login-heading mt-5 text-center mb-5">Welcome back!</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <% if @user.errors.any? %>
          <div class="error-explanation">
            <h3><%= @user.errors.count %> errors occurred. Please correct the errors below. </h3>
            <% @user.errors.full_messages.each do |message| %>
              <ul>
                <li><%= message %></li>
              </ul>
            <% end %>
          </div>
        <% end %>
        
        <div class="form-group text-center">
          <label><strong>Email Address</strong></label><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"login-form" %>
        </div>
        <div class="form-group text-center">
          <label><strong>Password<br><span style="font-size: 8px;">(6 characters minimum)</span></strong></label><br>
          <%= f.password_field :password, autocomplete: "current-password", class:"login-form" %>
        </div>
        <p class="text-center"><%= link_to 'Forgot your password?', new_user_password_path , style:"color: black;" %></p>
        <%#<% if devise_mapping.rememberable? %>
         <%#<div class="field">
            <%= f.check_box :remember_me %>
          <%#  <%= f.label :remember_me %>
          <%#</div>
        <% end %>
        <div class="my-4 text-center">
          <%= f.submit "Log in", class:"btn-lg login-btn" %>
        </div>
      <% end %>
    </div>
    <div class="registration-section col-lg-6 text-center">
      <h2 class="registration-heading mt-5 text-center">Don't have an account?</h2>
      <%= link_to 'Create An Account', new_user_registration_path, class:"btn-lg login-btn py-3", style:"color: black;" %></p>
      <img src="<%= asset_path "ben.kanji.png" %>" class="kanji-pic-login"></img>
    </div>
  </div>
</div>



