<div class="container">
    <h2 class="signup-heading mb-4" style="margin-top: 60px;">Sign in</h2>
    <div class="Signup-section">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <% if @user.errors.any? %>
        <div class="error-explanation">
          <h3><%= @user.errors.count %>errors from being saved.</h3>
          <% @user.errors.full_messages.each do |message| %>
            <ul>
              <li><%= message %></li>
            </ul>
          <% end %>
        </div>
      <% end %>


      <div class="form-group row mt-2">
        <label class="col-md-3"><strong>Email</strong></label>
        <div class="col-md-9">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="form-group row mt-2">
        <label class="col-md-3"><strong>Password<br><span style="font-size: 8px;">(6 characters minimum)</span></strong></label>
        <div class="col-md-9">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="form-group row mt-2">
        <label class="col-md-3"></label>
        <div class="col-md-3 mt-2">
          <%= f.submit "Sign in", class:"btn btn-success" %>
        </div>
        <p class="col-sm-9 mt-4">New Customer? => <%= link_to 'Sign up', new_user_registration_path , style:"color: #D98E04;" %></p>
        <p class="col-sm-9" style="margin-bottom: 90px;"><%= link_to 'Forgot your password?', new_user_password_path , style:"color: #D98E04;" %></p>
      </div>
    <% end %>


    </div>
</div>



