<div class="top-screen">
  <div class="d-flex justify-content-around pt-2">
    <p class="top-screen-message"><i class="fas fa-plane mr-1"></i>Easy Delivery Worldwide</p>
    <p class="top-screen-message"><i class="fas fa-bullhorn mr-1"></i>New Arrivals Monthly</p>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="top-wrapper">
      <img src="<%= asset_path "ben.kanji.png" %>" class="ben-kanji-pic"></img>
    </div>
    <div class="top-wrapper-bar">
    </div>
    <h2 class="item-heading text-center col-md-12" style="font-family: 'Abril Fatface', cursive; color: #26110F;">New Arrivals</h2>
  </div>  

  <div class="items col-md-12 mx-auto">  
    <% @items.each do |item| %>
      <div class="card" style="width: 18rem; min-height: 360px;  background: transparent; border-radius: 7px;">
        <span><%= attachment_image_tag item, :image, size:"200x200", fallback: "no-image.jpeg",class:"card-img-top", style:"background: transparent;", format: "jpeg" %></span>
        <div class="card-body">
          <%= link_to item_path(item), class:"item-hover" do %>
            <h5 class="card-title text-center"><%= item.item_name %></h5>
          <% end %>
          <p class="card-text">$ <%= number_with_precision(item.price, precision: 2) %></p>
        </div>
      </div>
    <% end %>  
  </div>
  
  <div class="col-12">
    <p class="view-more mt-4 d-flex justify-content-end"><%= link_to "View all", items_path, class:"view-all-btn" %></p>
  </div>
      
  <div class="message-wrapper mb-2">
    <h2 class="message-heading text-center" style="font-family: 'Abril Fatface', cursive; color: #26110F;"></h2>
    <div class="row">
      <div class="sweets-box-image-mobile"></div>
      <div class="snack-box-description mx-auto col-sm-6">
        <h3>Sweets Ben</h3>
        <p>Feeling like a kid in a candy store? We get it. It’s happens to us too. <br>
        With so many snacks to choose from, it can be hard to make your first choice. 
        That’s why we created Starter Ben.
        It’s our way of bringing you a little closer to finding your favorites.</p>
        <%= link_to 'View more', item_path(4), class:"view-more-btn" %>    
      </div>
      <div class="sweets-box-description-image col-sm-6"></div>
    </div>
    <div class="row">
      <div class="season-box-image-mobile"></div>
      <div class="season-box-description-image col-sm-6"></div>
      <div class="snack-box-description mx-auto col-sm-6">
        <h3>Ben of the Month</h3>
        <p>At SnackBen, our goal is to bring a little of bit of Japan to everyone. <br>
        With employees from all over the country, we’re passionate about showing you the places we call home. 
        That’s why we created the Ben of the Month. 
        Each month, we curate a special box featuring a prefecture or Japanese custom.</p>  
        <%= link_to 'View more', item_path(5), class:"view-more-btn" %>  
      </div>  
    </div>
  </div>
</div>


