<div class="container">
  <h4 class="mt-4 mb-5">注⽂履歴詳細</h4>

  <div class="form-group row mt-2">
    <label class="col-sm-4 col-lg-2"><strong>購入者</strong></label>
    <div class="col-sm-8 col-lg-10"><%= @order.user.first_name %> <%= @order.user.last_name %></div>
  </div>
  
  <div class="form-group row">
    <label class="col-sm-4 col-lg-2"><strong>注文日</strong></label>
    <div class="col-sm-8 col-lg-10"><%= @order.created_at.strftime("%Y年%m月%d日") %></div>
  </div>
  
  <div class="form-group row">
    <label class="col-sm-4 col-lg-2"><strong>配送先</strong></label>
    <div class="col-sm-8 col-lg-10"><%= @order.address %><%= @order.city %><%= @order.postal_code %><%= @order.country%><br><%= @order.first_name %> <%= @order.last_name %></div>
  </div>
  
  <div class="form-group row">
    <label class="col-sm-4 col-lg-2"><strong>支払い方法</strong></label>
    <div class="col-sm-8 col-lg-10"><%= @order.payment_method %></div>
  </div>
  
  <div class="form-group row">
    <label class="col-sm-4 col-lg-2"><strong>注文ステータス</strong></label>
    <div class="col-sm-8 col-lg-10">
      <%= form_with model: @order,url: admin_order_path, method: :patch, local:true do |f| %>
      <%= f.select :order_status, {入金待ち:"入金待ち", 入金確認:"入金確認", 製作中:"製作中", 発送準備中:"発送準備中", 発送済み:"発送済み"} %>
      <%= f.submit '変更', class:"btn-sm btn-success ml-3" %>
      <% end %>
      </div>
  </div>
  
  <div class="row">
    <table class="table table-sm col-lg-8 mt-3">
      <thead class="active">
        <tr>
          <th scope="col">商品名</th>
          <th scope="col">単価(税込)</th>
          <th scope="col">数量</th>
          <th scope="col">小計</th>
          <th scope="col">制作ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.item_name %></td>
          <td><%= number_with_precision(order_detail.price, precision: 2) %></td>
          <td><%= order_detail.amount %></td>
          <td><%= number_with_precision(order_detail.subtotal_price.to_s(:delimited), precision: 2)  %></td>
          <td>
            <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch, local:true do |f| %>
              <%= f.select :making_status, {制作不可:"制作不可",制作待ち:"制作待ち", 制作中:"制作中", 制作完了:"制作完了"} %>
              <%= f.submit '変更', class:"btn-sm btn-success ml-3" %>
            <% end %>
            </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    
    <div class="col-lg-3 offset-lg-1 mb-5 mt-3">
      <table class="table table-sm">
        <tr>
          <th scope="col">商品合計</th>
          <td scope="col">$ <%= number_with_precision(@payment_without_shipping.to_s(:delimited), precision: 2) %></td>
        </tr>
        <tr>
          <th>送料</th>
          <td>$ <%= number_with_precision(@order.shipping_cost, precision: 2) %></td>
        </tr>
        <tr style="border-bottom: 2px solid grey;">
          <th>請求額合計</th>
          <td><strong>$ <%= number_with_precision(@order.total_payment.to_s(:delimited), precision: 2) %></strong></td>
        </tr>
      </table>
    </div>
    
  </div>
</div>
