<div class="container">
  
  <h2 class="mt-4 mb-4">Inquiry Form</h2>
  
  <% if @contact.errors.any? %>
    <div class="error-explanation">
      <h3><%= @contact.errors.count %> errors occurred. Please correct the errors below. </h3>
      <% @contact.errors.full_messages.each do |message| %>
        <ul>
          <li>・<%= message %></li>
        </ul>
      <% end %>  
    </div>
  <% end %>

  <%= form_for(@contact, url: confirm_path) do |f| %>
    <div class="form-group col-md-8">
      <%= f.label :name, 'Name*' %>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
    </div>
    
    <div class="form-group col-md-8">
      <%= f.label :email, 'Email*' %>
      <%= f.text_field :email, autofocus: true, class: 'form-control' %>
    </div>
    
    <div class="form-group col-md-8">
      <%= f.label :subject, 'Subject*' %>
      <%= f.select :subject, Contact.subjects.keys.to_a,{} , autofocus: true, class: 'form-control' %>
    </div>
  
    <div class="form-group col-md-8">
      <%= f.label :message, 'Message*' %>
      <%= f.text_area :message, size: '10x10', class: 'form-control' %>
    </div>
  
    <div class="form-group col-md-8 mb-4">
      <%= f.submit 'Confirmation', class:"p-1" %>
    </div>
  <% end %>

</div>
