<div class="container-fluid">
	<div class="row">
		<div class="top-wrapper">
		</div>
		<div class="top-wrapper-bar">
			<p>FREE WORLDWIDE DELIVERY</p>
		</div>
		<h2 class="item-heading text-center col-md-12">Featured products</h2>
	</div>	
	
	<div class="items col-md-12 mx-auto">	
		<% @items.each do |item| %>
      <div class="card" style="width: 18rem; min-height: 340px;">
        <span><%= attachment_image_tag item, :image, size:"190x160", fallback: "no-image.jpeg",class:"card-img-top", format: "jpeg" %></span>
        <div class="card-body">
          <h5 class="card-title" style="height: 40%;"><%= item.item_name %></h5>
          <p class="card-text">$ <%= number_with_precision(item.price, precision: 2) %></p>
          <%= link_to 'Add to cart', root_path, class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>	
	</div>
	
	<div class="container">
		<p class="view-more text-right mt-4"><%= link_to "View more snacks", items_path, class:"btn btn-gradient" %></p>
	</div>
      
      <div class="message-wrapper mb-2">
		<h2 class="message-heading text-center">Snack Box</h2>
		<div class="row">
			<div class="snack-box-description col-6">
				<h3>Sweets Box</h3>
				<p>A delicious sample of authentic Japanese snacks. <br>
					Each box comes with a mini-snack guide and includes 10-12 Japanese snacks. <br>
					The Sweets Box is perfect to get you started!</p>
				<%= link_to 'Go to detail page', root_path, class:"btn btn-primary" %>		
			</div>
			<div class="sweets-box-description-image col-6"></div>
		</div>
		<div class="row">
			<div class="ramen-box-description-image col-6"></div>
			<div class="snack-box-description col-6">
				<h3>Ramen Box</h3>
				<p>If you can't make up your mind which one to choose, <br>
					we recommend trying out some instant ramen form 5 different prefectures.<br>
					Let's go find your favorite one!</p>	
				<%= link_to 'Go to detail page', root_path, class:"btn btn-primary" %>	
			</div>	
		</div>
	</div>
</div>


