<div class="container-fluid">
	<div class="row mx-2">
		<div class="ec-cart-index-main col-md-12">
			<h2 class="ec-cart-index-title">Shopping Cart</h2>
			<!-- success-massageはlayout.html -->

			<div class="btn-box text-right">
				<%= link_to "Empty the cart", cart_items_destroy_all_path, method: :delete, class:"btn btn-danger" %>
			</div>
			<!-- カート商品一覧 -->
			<div class="cart-item-table row">
				<table class="table01">
    <thead>
      <tr>
        <th colspan="2">Product name</th>
        <th class="text-center">Unit price</th>
        <th class="text-center">Amount</th>
        <th class="text-center">Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      	<% @user.cart_items.each do |cart_item| %>
      	<tr>
        <th><%= attachment_image_tag cart_item.item, :image, size: "100x100", fallback: "no-image.jpeg", format: "jpeg", class: "card" %></th>
        <td label="Product name" class="text-center"><p><%= cart_item.item.item_name %></p></td>
        <td label="Unit price" class="text-center"><p>$ <%= number_with_precision(cart_item.item.price, precision: 2) %></p></td>
        <td label="Amount" class="text-center" style="white-space: nowrap;" >
        	<%= form_with model: cart_item, class:"form-inline",local:true do |f| %>
						<div class="mx-auto">
							<%= f.select :amount,(1..10).to_a, {}, class: "form-control" %>
							<%= f.submit "Edit", class:"btn btn-primary" %>
					  </div>
					<% end %>
        </td>
        <td label="Subtotal" class="text-center"><p>$ <%= number_with_precision(cart_item.subtotal_price, precision: 2) %></p></td><!-- cart_item.subtotal_priceはcart_item.rbに記載 -->
				<td class="text-right"><p><%= link_to "Remove", cart_item_path(cart_item.id), method: :delete, class:"btn btn-danger" %></p></td>
        </tr>
        <% end %>

    </tbody>
  </table>
			</div>

			<!-- 合計金額 -->
			<div class="cart-total-table row">
				<div class="col-md-8 return-shopping-btn-wrapper"><%= link_to "Continue Shopping", items_path, class:"btn btn-default" %></div>
				<div class="col-md-4 ">
					<table class="table">
						<tbody>
							<th class="active-nonsense">Grand total</th><!-- クラス名を後ほど作成。とりあえずの名前 -->
							<td class="text-right">$ <%= number_with_precision(@user.cart_item_sum, precision: 2) %></td><!-- cart_item_sumはuserモデルに定義あり -->
						</tbody>
					</table>
				</div>
			</div>
			<!-- ボタン群 -->
      <% if current_user.cart_items.present? %>
				<div class="create-order-btn-wrapper col-xs-4 col-xs-offset-4 mb-5">
					<%= link_to "Proceed to cheakout",root_path, class:"btn btn-primary form-control" %>
        </div>
      <% end %>
		</div>
	</div>
</div>
