<body style="background-color: #EBE9DE;">
  <div class="container-fluid">
    <div class="row">
      <div class="py-3 col-12 text-center items-all-top mb-2">
        <h1 class="items-all-top-title"><%= @genre.genre_name %></h2>
        <h6 class="result-figure">Showing <%= @datas.count %> of <%= @datas.total_count %></h6>
      </div>
      <div class="d-flex col-12 pt-2 category-search-section">
        
        <div class="col-md-8 mb-2 d-flex justify-content-around mx-auto">
          <% @genres.each do |genre| %>
            <%= link_to genre.genre_name, search_genre_search_path('search[content]': genre.id), style:"color: white; font-size: 17px;" %>
          <% end %>
        </div>
      </div>
      
      <% if @datas.present? %>
        <div class="mt-2 d-flex ml-auto mr-3">
          <p class="mr-2">Sort</p>
          <%= form_with model: @search, url: genre_sort_path , method: :get, local:true do |f| %>
            <%= f.select :keyword, [
            ["What's new","new"],
            ["Price (high to low)","high"],
            ["Price (low to high)","low"]
            ] , { selected: params[:keyword] } , class:"sort-selection", :onchange => 'this.form.submit()' %>
            <%= f.hidden_field :id, :value => @genre.id %>
            <%= f.hidden_field :content, :value => params[:id] %>
          <% end %>
        </div>
      <% end %>

      <div class="items col-12 mx-auto" style="padding-bottom: 50px;">
        
        <div class="text-center mt-5">
          <% if @datas.empty? %>
            <h2>We couldn't find anything for "<%= @genre.genre_name %>".</h2>
            <p>These new arrivals might interest you.</p>
            <div class="items d-flex flex-wrap col-12 mx-auto text-left">
              <% @items.each do |item| %>
                <div class="card snacks" style="width: 20rem; min-height: 350px;">
                  <span><%= attachment_image_tag item, :image, size:"190x160", fallback: "no-image.jpeg", class:"card-img-top", format: "jpeg" %></span>
                  <div class="card-body">
                    <h5 class="card-title snacks-title" style="height: 40%;"><%= item.item_name %></h5>
                    <p class="card-text snacks-price">$ <%= number_with_precision(item.price, precision: 2) %></p>
                    <%= link_to 'Explore', item_path(item), class: 'btn btn-primary snacks-button' %>
                  </div>
                </div>
              <% end %>
            </div> 
          <% end %>
        </div>

        <div class="items d-flex flex-wrap col-12 mx-auto">
          <% @datas.each do |data| %>
            <div class="card snacks" style="width: 20rem; min-height: 350px;">
              <span><%= attachment_image_tag data, :image, size:"190x160", fallback: "no-image.jpeg", class:"card-img-top", format: "jpeg" %></span>
              <div class="card-body">
                <h5 class="card-title snacks-title" style="height: 40%;"><%= data.item_name %></h5>
                <p class="card-text snacks-price">$ <%= number_with_precision(data.price, precision: 2) %></p>
                <%= link_to 'Explore', item_path(data), class: 'btn btn-primary snacks-button' %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
    <%= paginate @datas %>
  </div>
</body>