<div class="container">
	<div class="row mx-2">
		<div class="ec-cart-index-main col-md-12">
			<h2 class="ec-cart-index-title">Order Confirmation</h2>

			 <table class="table table-bordered mb-5 order-shipdelivery-table">
          <tr>
            <th class="active">Delivery Days</th>
            <td class="text-left">
              <%= @order.delivery_time %>
            </td>
          </tr>
          <tr>
            <th class="active">Payment Method</th>
            <td class="text-left">
              <% if @order.payment_method == "Creditcard" %>
                 Credit Card
              <% else %>
                 Paypal
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="col-xs-4 active">Shipping Address</th>
            <td class="col-xs-8">
              <%= @order.first_name %> <%= @order.last_name %> <%= @order.address %> <%= @order.city %> <%= @order.postal_code %> <%= @order.country %><br>
            </td>
          </tr>
        </table>

			<div class="cart-item-table row">
				<table class="table01 table table-sm col-12" style="border-bottom: 2px solid  #F0EDEC;">
          <thead>
            <tr class="active">
              <th colspan="2">Product name</th>
              <th class="text-center">Unit price</th>
              <th class="text-center">Amount</th>
              <th class="text-center">Subtotal</th>
            </tr>
          </thead>
          <tbody style="background-color: #F0F3EF;">
          	<% current_user.cart_items.each do |cart_item| %>
            	<tr>
                <th><%= attachment_image_tag cart_item.item, :image, size: "100x100", fallback: "no-image.jpeg", format: "jpeg", class: "card" %></th>
                <td data-label="Product name" class="text-center"><p><%= cart_item.item.item_name %></p></td>
                <td data-label="Unit price" class="text-center"><p>$ <%= number_with_precision(cart_item.item.price, precision: 2) %></p></td>
                <td data-label="Amount" class="text-center"><p><%= cart_item.amount %></p></td>
                <td data-label="Subtotal" class="text-center"><p>$ <%= number_with_precision(cart_item.subtotal_price, precision: 2) %></p></td><!-- cart_item.subtotal_priceはcart_item.rbに記載 -->
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="confirm-prise col-md-5 offset-md-7 mt-3">
          <table class="table table-bordered order-confirm-table">
            <tbody>
              <tr>
                <th class="active">Shipping Cost</th>
                <td class="text-right">$ <%= number_with_precision(@order.international_shipping_fee, precision: 2) %></td>
              </tr>
              <tr>
                <th class="active">Total Price</th>
                <td class="text-right">$ <%= number_with_precision(current_user.cart_items.inject(0){|sum, cart_item| cart_item.subtotal_price + sum}, precision: 2)  %></td>
              </tr>
              <tr>
                <th class="active">Grand Total</th>
                <td class="text-right">$ <%= number_with_precision(@order.total_payment, precision: 2) %></td>
              </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>
  </div>


      <div class="comfirmation-btn-wrap text-center mb-5">

          <%= form_tag pay_orders_path, method: :post do |f| %>

            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
              <label class="amount">
                <span>Payment: $ <%= number_with_precision(@order.total_payment, precision: 2) %></span>
              </label>
            </article>
              <% current_user.order.each do |order| %>
                <%= hidden_field_tag(:amount, order.total_payment) %>
                <%= hidden_field_tag(:postal_code, order.postal_code) %>
                <%= hidden_field_tag(:address, order.address) %>
                <%= hidden_field_tag(:last_name, order.last_name) %>
                <%= hidden_field_tag(:first_name, order.first_name) %>
                <%= hidden_field_tag(:city, order.city) %>
                <%= hidden_field_tag(:country, order.country) %>
                <%= hidden_field_tag(:payment_method, order.payment_method) %>
              <% end %>  

              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-name="Payment"
                      data-locale="en"
                      data-amount="<%= params[:amount].to_d %>"
                      >
              </script>
              <button type="submit" class="yourCustomClass btn btn-primary">Pay with credit card</button>
              <style type="text/css">
                <%#<!--
                button.stripe-button-el,
                button.stripe-button-el>span {
                  background-color: primary !important;
                  background-image: none;
                  width: 300px;
              
                }
              -->       コメントアウトの方法もあり  %>
              .stripe-button-el { display: none }
              </style>
          <% end %>


      </div>


  </div>
</div>