<div class="container">

  <h2 class="ec-cart-index-title mt-4">Cheak Out</h2>


  <%= form_with model: @order,url: confirm_orders_path, method: :post, local: true do |f| %>
    <% if @order.errors.any? %>
        <div class="error-explanation mt-4">
          <h3><%= @order.errors.count %> errors occurred. Please correct the errors below. </h3>
          <% @order.errors.full_messages.each do |message| %>
            <ul>
              <li>・<%= message %></li>
            </ul>
          <% end %>
        </div>
    <% end %>

    <div class="row">
      <div class="col-lg-7 mb-3">
        <h4 style="color:  #D98E04;"><strong><%= f.label :address, "Shipping Address" %></strong></h4>

        <div class="field mt-3 ml-3">
          <%= radio_button_tag :address_type, 0, checked: "checked",class:"ml-3" %>

          <%= f.label :oaddress, "Ship to your address", style:"color: #26110F; font-weight: bold; font-size: 20px;" %><br>
          <% if current_user.postal_code && current_user.address %>
            <p class="ml-4"><%= @user.first_name %> <%= @user.last_name %></p>
            <p class="ml-4"><%= @user.address %> <%= @user.city %> <%= @user.postal_code %>
            <% if @user.country == "KR" %>
              Korea
            <% else %>
              <%= @user.country_name %>
            <% end %>
            </p>
          <% else %>
            <p class="ml-4" style="font-size: 14px;">You want us to ship to your address, but you haven't created your profile yet?</p>
            <div class="d-flex">
              <p class="ml-4">Create your profile to enjoy faster checkout!<br>=><%= link_to 'Create the profile', edit_user_path(current_user), style:"color: black; background-color: #FF9872; border-radius: 25px;" ,class:"ml-1 btn btn-sm mt-1" %></p>
            </div>
          <% end %>
        </div>


        <div class="field ml-3">
          <%= radio_button_tag :address_type, 1 ,class:"ml-3"%>
          <%= f.label :address, "Ship to registered addresses", style:"color: #26110F; font-weight: bold; font-size: 20px;" %><br>
          <!-- 登録済み住所から持ってくる。full_shipping_addressはdeliveryモデルに-->

          <%= f.collection_select(:delivery_id, @registered_addresses, :id, :full_shipping_address,{prompt: "Select one of your registered addresses"}, {class: "ml-4 registered-address my-2"} ) %>
        </div>

        <div class="field mt-3 ml-3">
            <%= radio_button_tag :address_type, 2 ,class:"ml-3"%>
            <%= f.label :address, "Ship to this address", style:"color: #26110F; font-weight: bold; font-size: 20px;" %><br>

          <div class="form-group row mt-2">
            <label class="col-sm-3"><strong>Name</strong></label>
            <div class="col-sm-9">
              <%= f.text_field :first_name, placeholder:"First Name" %>　<%= f.text_field :last_name , placeholder:"Last Name" %>
            </div>
          </div>

          <div class="form-group row mt-2">
            <label class="col-sm-3"><strong>Address</strong></label>
            <div class="col-sm-9">
              <%= f.text_field :address, class:"order-address" %>
            </div>
          </div>

          <div class="form-group row mt-2">
            <label class="col-sm-3"><strong>City</strong></label>
            <div class="col-sm-9">
              <%= f.text_field :city %>
            </div>
          </div>

          <div class="form-group row mt-2">
            <label class="col-sm-3"><strong>Zip/Postal Code</strong></label>
            <div class="col-sm-9">
               <%= f.text_field :postal_code %>
            </div>
          </div>

          <div class="form-group row mt-2">
            <label class="col-sm-3"><strong>Country</strong></label>
            <div class="col-sm-9">
              <%= f.country_select :country, { only: ["GB","FR","DE","IT","ES","SE","IQ","IL", "EG","TR","YE","OM","ET","NG", "JM","AR","BR","GH",
              "US","CA", "MX","AU","PE","PH","RU", "TW","CN","VN", "MY", "KR","JP"],include_blank: 'Select a country' }, { style: 'width: 189px; height: 31px;', data: { attribute: "value" } } %>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-4 offset-lg-1">

      <%#後学のため残す。
      <%#<%= f.label :shipping_method, "Shipping Method" %>
        <%#<div class="field mb-5">

            <%#<%= f.radio_button :shipping_method, :Includes_tracking ,  checked: "checked" ,class:"ml-3" %>
            <%#<%= f.label :shipping_method, "Includes tracking (SP) $ 3.00"  %>
            <%#<%= f.radio_button :shipping_method, :DHL_FedEx ,class:"ml-3" %>
            <%#<%= f.label :shipping_method, "DHL / FedEx $ 23.00" %>
        <%#</div>  %>

        <h4 style="color:  #D98E04;"><strong>The Infomation form us</strong></h4>
        <div class="accordion mt-4" id="myAccordion">
          <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" , style="color: #26110F; box-shadow:none;"><i class="fas fa-truck mr-2"></i>DELIVERY INFO</button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAccordion">
              <div class="card-body">
                <p>All our international deliveries are handled by UPS and FedEx.<br>
                  <br>
                    You will need to make sure that you cover any ingoing customs or taxes costs should any be incurred when shipping to your destination. <br>
                    At SnackBen we do our best to deliver within the stated time, however we cannot be held responsible for any delays caused by the customs clearance of the destination country.<br>
                    <br>
                    We try our best to get deliveries out to you on time, but sometimes international deliveries can take longer than expected.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo", style="color: #26110F; box-shadow:none;"><i class="fas fa-globe mr-2"></i>OUR POLICY</button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#myAccordion">
              <div class="card-body">
                <p>We take pride of our SnackBen, so anything returned should be new, unused and with all our security garment tags still attached. Returns that are damaged, soiled or altered may not be accepted and may be sent back to the customer.<br>
                    If you’re returning something faulty, damaged or soiled please <%= link_to 'Contact Us', new_contact_path, style:"color: #D98E04;" %> prior to sending any return.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree", style="color: #26110F; box-shadow:none;"><i class="far fa-lightbulb mr-2"></i>SOME USEFUL TIPS</button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
              <div class="card-body">
                <p>We’d hate for you to not receive your order. Please make sure that the shipping address is correct as we’re unable to redirect orders once they’re on their way to you.<br>
                  <br>
                  Our delivery time starts from the moment an order is accepted. This includes a 24 period where your items will be processed and dispatched by our warehouse.
                  Please note this can take longer during our sale periods, when it may take up to 48 hours for shipments to be dispatched.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="actions text-center mb-5 mt-4">
      <%= f.submit "Procced to confirmation" , class:"btn btn-primary create-order-btn-wrapper" %><%# create-order-btn-wrapperはcart_items.scss %>
    </div>

  <% end %>
</div>

