  <div class="container">
    <div class="row">
      <h3 class="mb-4 col-12 mt-5" style="color: #D98E04;">Change The Password</h3>
   
   <%= form_with model: @user, url: update_password_path, method: :patch, local:true do |f| %>
   
    <div class="ml-3">
      <% if @user.errors.any? %>
        <div class="error-explanation mt-4">
          <h3><%= @user.errors.count %> errors occurred. Please correct the errors below. </h3>
          <% @user.errors.full_messages.each do |message| %>
            <ul>
              <li>・<%= message %></li>
            </ul>
          <% end %>  
        </div>
      <% end %> 
    <div class="form-group">
      
      <%= f.label :password, "New Password", :class => "form-label" %>
      <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
      <% if @minimum_password_length %>
      <div class="small form-text text-muted">最低<%= @minimum_password_length %>文字以上</div>
      <% end %>
    </div>
 
    <div class="form-group">
      <%= f.label :password_confirmation, "Password Confirmation(New Password)", :class => "form-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :class=>"form-control" %>
    </div>
 
    <div class="form-group">
      <%= f.label :current_password, "Current_password", :class => "form-label" %>
      <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control" %>
      <div class="small form-text">Fill in the current password to change the password.</div>
    </div>
    
    <%= f.submit 'Save', class: "btn btn-success mb-5 mt-3", style:"border-radius: 15px; padding: 5px 40px;" %>
    
    <% end %>
    </div>
    
    </div>
    
    </div> 