<div class="profile-top">
  <div class="container">
  <h2 class="my-page-title">Profile</h2>
  </div>
</div>

<div class="container">
  <div class="row mb-5">
    
    <div class="ml-2 col-md-7 mt-5">
      <h3 class="mb-4" style="color: #D98E04;">Personal Information</h3>
      <div class="form-group row mt-2">
        <label class="col-md-3"><strong>Name</strong></label>
        <div class="col-md-9">
          <%= @user.first_name %> <%= @user.last_name %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3"><strong>Email</strong></label>
        <div class="col-md-9">
          <%= @user.email %>
        </div>
      </div>

      <div class="form-group row mt-2">
         <label class="col-md-3"><strong>Address</strong></label>
        <div class="col-md-9">
          <% if @user.address %>
            <%= @user.address %>
          <% else %>
            Unregistered
          <% end %>
        </div>
      </div>

      <div class="form-group row mt-2">
         <label class="col-md-3"><strong>City</strong></label>
        <div class="col-md-9">
          <% if @user.city %>
            <%= @user.city %>
          <% else %>
            Unregistered
          <% end %>
        </div>
      </div>

      <div class="form-group row mt-2">
         <label class="col-md-3"><strong>Zip/Postal Code</strong></label>
        <div class="col-md-9">
          <% if @user.postal_code %>
            <%= @user.postal_code %>
          <% else %>
            Unregistered
          <% end %>
        </div>
      </div>

      <div class="form-group row mt-2">
         <label class="col-md-3"><strong>Country</strong></label>
        <div class="col-md-9">
          <% if @user.country %>
            <%= @user.country %>
          <% else %>
            Unregistered
          <% end %>
        </div>
      </div>
      <div class="text-center">
      <%= link_to 'Edit your profile',edit_user_path, class: "btn btn-success mb-3", style:"border-radius: 15px;" %>
      </div>
    </div>

    <div class="col-md-4 mt-5">

      <div class="form-group user-edit-link">
        <div class="d-flex justify-content-center">
          <%= link_to 'Change Your Password', "/users/#{@user.id}/newpassword", class: "btn btn-primary", style:"border-radius: 15px;" %>
        </div>
      </div>

      <div class="user-edit-link">
        <div class="form-group">
          <label class="d-flex justify-content-center" style="color: #D98E04;"><strong>Shipping Address</strong></label>
          <div class="d-flex justify-content-center">
            <%= link_to 'The list of registered shipping address', deliveries_path, class: "btn btn-primary", style:"border-radius: 15px;" %>
          </div>
        </div>


        <div class="form-group">
          <label class="d-flex justify-content-center" style="color: #D98E04;"><strong>Order History</strong></label>
          <div class="d-flex justify-content-center">
            <% if current_user.orders %>
              <%= link_to 'Cheak your order history', orders_path, class: "btn btn-primary", style:"border-radius: 15px;" %>
            <% else %>
              <p class="pt-1">There is no order history.</p>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
