<div class="profile-top">
</div>

<div class="container">
  <div class="row mb-5">
    
    <div class="ml-2 col-lg-7 mt-5">
      <h2 class="mb-4 ml-3 account-heading">My Account Information</h2>
      <div class="form-group row mt-2">
        <label class="col-md-3 account-info"><strong>Name</strong>:</label>
        <div class="col-md-9 mt-1">
          <%= @user.first_name %> <%= @user.last_name %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 account-info"><strong>Email</strong>:</label>
        <div class="col-md-9 mt-1">
          <%= @user.email %>
        </div>
      </div>
      
      <div class="form-group row mt-2">
         <label class="col-md-3 account-info"><strong>Country</strong>:</label>
        <div class="col-md-9 mt-1">
          <% if @user.country %>
            <% if @user.country == "KR" %>
              Korea
            <% else %>
              <%= @user.country_name %>
            <% end %>
          <% else %>
            Unregistered
          <% end %>
        </div>
      </div>

      <div class="form-group row mt-2">
         <label class="col-md-3 account-info"><strong>Address</strong>:</label>
        <div class="col-md-9 mt-1">
          <% if @user.address %>
            <%= @user.address %>
          <% else %>
            Unregistered
          <% end %>
        </div>
      </div>

      <div class="form-group row mt-2">
         <label class="col-md-3 account-info"><strong>City</strong>:</label>
        <div class="col-md-9 mt-1">
          <% if @user.city %>
            <%= @user.city %>
          <% else %>
            Unregistered
          <% end %>
        </div>
      </div>

      <div class="form-group row mt-2">
         <label class="col-md-3 account-info"><strong>Postcode</strong>:</label>
        <div class="col-md-9 mt-1">
          <% if @user.postal_code %>
            <%= @user.postal_code %>
          <% else %>
            Unregistered
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mt-5">
      <h3 class="text-center">Options</h3>
      <div class="user-edit-link">
        <div>
          <%= link_to 'Edit profile',edit_user_path, class: "account-btn" %>
        </div>
        <div class="mt-3">
          <%= link_to 'Edit address book', deliveries_path, class: "account-btn" %>
        </div>
        <div class="mt-3">
          <% if current_user.orders %>
            <%= link_to 'Order history', orders_path, class: "account-btn" %>
          <% else %>
            <p class="pt-1">There is no order history.</p>
          <% end %>
        </div>
        <div class="mt-3">
          <%= link_to 'Change password', "/users/#{@user.id}/newpassword", class: "account-btn" %>
        </div>
      </div>
    </div>
    
  </div>
</div>
