
  <div class="container-fluid">
    <div class="row">
      <div class="pt-4 col-12 text-center" style="border-top: 2px solid grey; border-bottom: 2px solid grey; background-color: #101626; color:white;">
        <h3 style="font-family: 'Chango', cursive;">Your search results</h3>
        <p><%= @items.count %> snacks found</p>
      </div>
        
      <div class="items col-md-10 col-sm-9 col-xs-10 mx-auto mt-4" style="padding-bottom: 50px;">
        <div class="text-center mt-5">
          <% if @items.empty? %>
              <h2>NOTHING MATCHES YOUR SEARCH</h2>
              <p>But don't give up – check the spelling or try less specific search terms.</p>
          <% end %>
        </div>
  
        <div class="items col-12 mx-auto mt-4" style="padding-bottom: 50px;">
      
          <% @items.each do |item| %>
            <div class="card" style="width: 20rem; min-height: 350px;">
              <span><%= attachment_image_tag item, :image, size:"190x160", fallback: "no-image.jpeg",class:"card-img-top", format: "jpeg" %></span>
              <div class="card-body">
                <h5 class="card-title" style="height: 40%;"><%= item.item_name %></h5>
                <p class="card-text">$ <%= number_with_precision(item.price, precision: 2) %></p>
                <%= link_to 'Explore', item_path(item), class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
      
        </div>
      </div>  
    </div>
    <%= paginate @items %>
  </div>  