<div class="container">
  <h1 class="mt-4 mb-4 show-item-title">Product detail</h1>
  <div class="row show-item-section">
    <div class="col-lg-5 col-sm-12">
      <%= attachment_image_tag @item, :image, size: "450x450", fallback: "no-image.jpeg", format: "jpeg", class: "card item-show-card", style:"border: 2px solid grey;" %>
    </div>
    <div class="col-lg-5 offset-lg-1 col-sm-11 col-md-10">
      <h1 class="show-item-name"><%= @item.item_name %></h1>
      <h5 class="show-item-introduction"><%= @item.introduction %></h5>
      <div class="average-review-rating" data-score=<%= @average_review %>></div>
      <span>Based on <%= @item.reviews.count %> reviews</span>
      <h2 class="mt-2 show-item-price">$ <%= number_with_precision(@item.price, precision: 2) %></h2>

      <% if current_user %>
        <% if @item.is_active == "販売中" %>
          <%= form_with model: @cart_items,url: cart_items_path, local:true, scope: :cart_item do |f|  %>
            <%= f.select :amount,(1..10).to_a, {}, class: "form-control product-show-form-control" %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.submit 'Add to cart', class: "btn btn-success btn-new-register btn-lg mt-4"%>
          <% end %>
        <% else %>
          <h4 style="color: red;">Out of stock</h4>
        <% end %>
      <% else %>
        <h5>You are required to sign in to purchase.</h5>
        <div class="d-flex">
          <p>Returning customer?=></p> <%= link_to 'Go To Sign In Page', new_user_session_path , style:"color: #D98E04;", class:"ml-1" %>
        </div>
        <div class="d-flex">
          <p>New customer?=></p> <%= link_to 'Create New Account', new_user_registration_path , style:"color: #D98E04;", class:"ml-1"  %>
        </div>
      <% end %>
    </div>
  </div>



  <div class="item-review-section">
    <h2 class="mb-3">Reviews</h2>

    <%#<%= render @item.reviews.order(created_at: :desc) %>
    <%# 上の書き方はkaminariが使えない。下はコントローラーに代入（@items_review）する事でkaminariを使える様にする。%>
    <%= render @items_review %>
    <div class="mt-2">
      <%= paginate @items_review %>
    </div>
    <% if @item.reviews.empty? %>
      <p>There is no reviews for this snack yet.<p>
    <% end %>


    <% if user_signed_in? %>
      <div>
        <%= link_to 'Add Review', new_item_review_path(@item), class:"btn btn-info mb-5 mt-2" %>
      </div>
    <% end %>

    <script>
    $('.average-review-rating').empty();
      $('.average-review-rating').raty({
        readOnly: true,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: function() {
          return $(this).attr('data-score')
        }
      });
    </script>
  </div>

  <h2>Related snacks</h2>
  <div class="col-12 mx-auto mt-3" id="slider" style="padding-bottom: 50px;">

    <% @related_items.each do |item| %>
      <div class="card related-snacks" style="width: 18rem; min-height: 380px;">
        <span><%= attachment_image_tag item, :image, size:"190x160", fallback: "no-image.jpeg", class:"card-img-top", format: "jpeg" %></span>
        <div class="card-body related-snacks-body">
          <h5 class="card-title related-snacks-title"><%= item.item_name %></h5>
          <p class="card-text related-snacks-price">$ <%= number_with_precision(item.price, precision: 2) %></p>
          <%= link_to 'Explore', item_path(item), class: 'btn btn-primary related-snacks-button' %>
        </div>
      </div>
    <% end %>

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
     
  </div>

</div>