<div class="container-fluid">
  <div class="row">
    <div class="py-3 col-12 text-center items-all-top mb-2"><h2>All Snacks</h2><span>Showing <%= @items.count %> of <%= @items.total_count %> snacks </span></div>
    
    <div class="d-flex col-12 pt-2 category-search-section">
      <h5 class="ml-3 col-2 category-search-title" style="font-family: 'Lobster', cursive;">Categories</h5>
      <div class="col-9">
        <% @genres.each do |genre| %>

          <%= link_to genre.genre_name, search_genre_search_path('search[content]': genre.id), style:"color: white;", class:"ml-3" %>

        <% end %>
      </div>
    </div>
  </div>
  <div class="mt-2 d-flex justify-content-end">
    <p class="mr-1">Filter</p>
    <%= form_with model: @item, url: sort_path, method: :get, local:true do |f| %>
      <%= f.select :keyword, [
        [""],
        ['Price, High to low','high'],
        ['Price, Low to high','low'],
        ['Date, New to old','new'],
        ['Date, Old to new','old'],
        ] , {} , :onchange => 'this.form.submit()' %>
    <% end %>
  </div>  
  <div class="items d-flex flex-wrap col-12 mx-auto" style="padding-bottom: 50px;">
    <% @items.each do |item| %>
      <div class="card snacks" style="width: 20rem; min-height: 350px;">
        <span><%= attachment_image_tag item, :image, size:"190x160", fallback: "no-image.jpeg", class:"card-img-top", format: "jpeg" %></span>
        <div class="card-body">
          <h5 class="card-title snacks-title" style="height: 40%;"><%= item.item_name %></h5>
          <p class="card-text snacks-price">$ <%= number_with_precision(item.price, precision: 2) %></p>
          <%= link_to 'Explore', item_path(item), class: 'btn btn-primary snacks-button' %>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @items %>
</div>