<!DOCTYPE html>
<html>
  <head>
    <title>MyPf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Ranchers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
  </head>

  <body class="body-background-color">
    <header class="sticky-top" style="z-index: 10;">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #26110F;">
        <div class="container">
        <a class="navbar-brand" href="#" style="color: #EBE9DE;">SnackBen</a>
        <button class="navbar-toggler" style="background-color: #EBE9DE;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="/" style="color: #EBE9DE;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <%= link_to 'About', '/about', class:"nav-link", style:"color: #EBE9DE;" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle", style="color: #EBE9DE;", href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Snacks
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #26110F;">

                  <%= link_to 'Sweets', '/about', class:"nav-link", style:"color: #EBE9DE;" %>

                  <%= link_to 'Ramen', '/about', class:"nav-link", style:"color: #EBE9DE;" %>

                  <%= link_to 'Drinks', '/about', class:"nav-link", style:"color: #EBE9DE;" %>

              </div>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: {confirm: "Are you sure that you want to sign out?"}, class:"nav-link", style:"color: #EBE9DE;" %>
            </li>
            <%= link_to cart_items_path, class:"nav-link", style:"color: #EBE9DE;" do %>
              <li class="d-flex flex-row">
                Cart<i class="fas fa-shopping-cart my-auto mr-2"></i>
              </li>
            <% end %>

            <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/" style="color: #EBE9DE;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <%= link_to 'About', '/about', class:"nav-link", style:"color: #EBE9DE;" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle", style="color: #EBE9DE;", href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Snacks
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #26110F;">

                  <%= link_to 'Sweets', '/about', class:"nav-link", style:"color: #EBE9DE;" %>

                  <%= link_to 'Ramen', '/about', class:"nav-link", style:"color: #EBE9DE;" %>

                  <%= link_to 'Drinks', '/about', class:"nav-link", style:"color: #EBE9DE;" %>

              </div>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign up', new_user_registration_path, class:"nav-link", style:"color: #EBE9DE;" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign in', new_user_session_path, class:"nav-link", style:"color: #EBE9DE;" %>
            </li>
            <% end %>
          </ul>
          <%= form_with url: search_search_path, method: :get, class:"d-flex flex-row form-inline my-lg-0", local:true do |f| %>
            <%= f.text_field 'search[value]', class:"form-control mr-sm-2", style:"font-size: 14px;" %>
            <%= f.select 'search[how]', options_for_select({ "Partical" => "partical", "Forward" => "forward", "Backword" => "backward", "Match" => "match" }), {}, {style: 'height: 35px;'} %>
            <%= f.submit 'Search', class: "btn btn-outline my-sm-0" , style:"color: #D98E04;" %>
          <% end %>
        </div>

        </div>
      </nav>
    </header>
      <% if user_signed_in? %>
      <div class="mypage-header py-1 pl-3" style="height: 32px; background-color: #101626; color: #EBE9DE;">
        <div class="container" >
        <li style="display: inline-block; margin-right: 5px;">Hello, here's your account page =></li><span><%= link_to 'Your account', user_path(current_user), style:"color: #EBE9DE;" %></sapn>
        </div>
      </div>
      <% end %>
    <main>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash" style="color: red;">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
    </main>
    <div class="contact-form">
      <div class="container">
        <div class="row">
          <h2 class="col-md-3 mt-3">SnackBen</h2>
          <div class="col-md-4 mt-1">
            <h2 class="cantact-heading">Information</h2>
            <%= link_to 'About us', '/about', class:"nav-link", style:"color: #EBE9DE;" %>
            <%= link_to 'Inquiry', '/about', class:"nav-link", style:"color: #EBE9DE;" %>
          </div>
          <div class="col-md-5 mt-3">
            <h5 class="mb-3">100% SATISFACTION GUARANTEED</h5>
            <p>Contact us at any time and we'll get back to you right away!</p>
          </div>
          <p class="ml-2">© 2021 SnackBen.</p>
        </div>
      </div>
    </div>
  </body>
</html>
